<!--Header Section-->
<header class="header1">
    <!-- <a data-toggle="tooltip" data-placement="top" title="" class="enefti-floating-social-btn" target="_blank"
       href="https://t.me/+YY8_EOqU94MzMWQ0" data-original-title="Join Our Group">
        <i class="fab fa-telegram"></i>
    </a> -->
    <!-- <div class="top-header d-none">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 col-sm-12 col-12 contact-header text-md-left text-sm-center text-center">
                    <p>Discover, find and Mint extraordinary NFT with us.</p>
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-12 account-urls r">
                    <div class="top-header-right-wrapper text-md-right text-sm-center text-xs-center">
                        <ul class="enefti-social-links">
                            <li>
                                <a target="_blank" href="https://t.me/+YY8_EOqU94MzMWQ0"><i
                                            class="fab fa-telegram"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://facebook.com"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://linkedin.com"><i class="fab fa-linkedin"></i></a>
                            </li>
                        </ul>




                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--Navbar-->
    <nav class="navbar navbar-default logo-infos" id="modeltheme-main-head">
        <div class="container">
            <div class="row">
                <!-- LOGO -->
                <div class="navbar-header col-md-12 col-lg-2">
                    <!-- NAVIGATION BURGER MENU -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="mobile_only_icon_group search">
                        <a href="#" class="mt-search-icon">
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </a>
                    </div>
                    <!-- <div class="mobile_only_icon_group account">
                        <a href="sign-in">
                            <i class="far fa-user-circle"></i>
                        </a>
                    </div>
                    <div class="logo logo-image">
                    </div> -->
                    <div class="logo logo-image" style="padding-left:30px">
                        <a href="/">
                            <img class="img-responsive mt-5" src="/assets/images/logos/logo-green.png"
                                alt="Enefti-Logo">
                        </a>
                    </div>
                </div>
                <!-- NAV MENU -->
                <div id="navbar" class="navbar-collapse collapse col-md-12 col-lg-10 "
                    style="display: flex !important; align-items: center !important;">
                    <div class="col-lg-10 col-md-10 col-sm-12 menu-holder">
                        <ul class="menu nav nav-effect nav-menu">
                            <li
                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home current-menu-ancestor current-menu-parent ">
                                <a href="/">Home</a>
                                <span class="expand">
                                    <i class="fas fa-chevron-down"></i>
                                </span>

                            </li>
                            <li id="menu-item-2616" class="menu-item menu-item-type-post_type menu-item-object-page">
                                <a href="#">NFT Marketplace</a>
                                <span class="expand">
                                    <i class="fas fa-chevron-down"></i>
                                </span>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="https://opensea.io/collection/onerichgroup-zephyr">Onerich -
                                            Zephire</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="https://opensea.io/collection/onerichgroup-claritya">Onerich -
                                            Claritya</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="https://opensea.io/collection/onerichgroup-diamore">Onerich -
                                            Diamore</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="https://opensea.io/collection/onerichgroup-prismora">Onerich -
                                            Prismora</a>
                                    </li>


                                </ul>
                            </li>
                            <li id="menu-item-26"
                                class="mega3menu menu-item menu-item-type-custom menu-item-object-custom">
                                <a href="#">DeFi</a>
                                <span class="expand">
                                    <i class="fas fa-chevron-down"></i>
                                </span>
                                <ul class="sub-menu">

                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="/staking-nft">Staking NFT</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="/yield-farm">Yield Farm</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-page">
                                        <a href="#">Collateralized lending</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="menu-item menu-item-type-custom menu-item-object-custom  ">
                                <a target="_blank" href="#">Swap & Trade</a>

                            </li>

                            <li class="menu-item menu-item-type-custom menu-item-object-custom  ">
                                <a target="_blank" href="https://docs.onerichgroup.com">Whitepaper</a>

                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                <a href="/collections">Collections</a>
                            </li>
                            <!-- MT BURGER -->
                            <li class="mt-nav-burger-li" id="mt-nav-burger">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </li>
                        </ul>
                    </div>
                    <div class="enefti-header-searchform">
                        <form name="header-search-form" method="GET" class="woocommerce-product-search menu-search"
                            action="search">
                            <select name="product_cat" class="enefti-select">
                                <option value="">NFT Category</option>
                                <option class="1" value="archetype-by-kjetil-golid">Onerich - Zephire (50000)</option>
                                <option class="2" value="avid-lines">Onerich - Claritya (10000)</option>
                                <option class="3" value="azuki">Onerich - Diamore (1000)</option>
                                <option class="4" value="chimera-by-mpkoz">Onerich - Prismora (250)</option>

                                </option>
                            </select>
                            <input class="search-field" type="text" name="search" placeholder="Search products.."
                                required="">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                            <input type="hidden" name="post_type" value="product">
                        </form>
                        <div id="datafetch"></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12 menu-products">

                        <div class="button-search">
                            <a class="inquiry mt-search-icon">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>